
.parallax-container
  .opacity-wrap
    .section.no-pad-bot
      .container.mr-top-ten.center.white-text
        %h4.header.center MATRIMONIO
        %h1.header.center.lemonada Felipe y Camila
        %hr.white-text{:width => "40%"}
        %h5.center.pd-top
          25 de Febrero de 2017
        %i.fa.fa-heart-o.center.fa-2x
        %i.fa.fa-heart-o.center.fa-2x

.section.u-versiculo.darken-1
  .valign-wrapper{style: "height: 200px;"}
    .container.black-text
      %h5.valign.center.light.arima
        %i.fa.fa-angle-double-left
        Que tu amor inagotable nos rodee, Señor, porque solo en ti está nuestra esperanza.
        %i.fa.fa-angle-double-right
      %h6.right.pd-right
        Salmos 33:22

.section.u-bride.u-green-light.pd-top
  .container
    .row.center.white-text
      %h4.header.white-text
        NUESTRA BODA
      %hr{:width => "25%"}
      -#%i.fa.fa-heart-o.center.fa-lg
    .row.pd-top-2.white-text
      .col.m4.s12.offset-m1
        = image_tag "photo_juntos.jpg", class: "u-bride-img"
      .col.m6.offset-m1
        .row.pd-top
          .col.m2.s12
            = image_tag "big-church.png", class: "u-bride-icon"
          .col.m8
            %p.u-bride-paragraph
              Nuestra ceremonia será en la Iglesia Metodista Pentecostal. Ubicada en Libertad #193, San Antonio.
        .row.pd-top
          .col.m2.s12
            = image_tag "gift.png", class: "u-bride-icon"
          .col.m8
            %p.u-bride-paragraph
              Hemos creado esta web para mostrales los regalos más lindos que hemos visto en diferentes partes (no nos amarramos a una tienda)
        .row.pd-top
          .col.m2.s12
            = image_tag "user (2).png", class: "u-bride-icon"
          .col.m8
            %p.u-bride-paragraph
              Las mejores cosas de la vida merecen ser compartidas, prepárate para celebrar con nosotros!


#regalos.section.scrollspy
  -#.row{style: "background: url(#{image_url("bg-pink-hearts.jpg")}) left top repeat;"}
  #show_details
  .row.white.pd-top-two.center
    .col.m12
      %p#notice= notice
      %h4.header.center
        LISTA DE REGALOS
      %hr{:width => "25%"}
      %i.fa.fa-gift.center.fa-2x
      .container
        %br
        %p.center
          Estos regalos los hemos escogido cuidadosamente
          para que sean parte de nuestro hogar. Se parte tú también :D
      %br

    .row.left
      .container
        - @regalos.order("state DESC").each do |regalo|
          .col.s12.m6
            .card.card-gift.horizontal.hoverable.white
              .card-image
                %a{href: "#{regalo.link}", target: "_blank"}
                  = image_tag "#{regalo.img_product.url.present? ? regalo.img_product.url : 'http://placehold.it/250x236'}", class: "", height: "220"
              .card-content.mg-left
                .title-regalo
                  .light
                    = link_to regalo.name, regalo.link, target: "_blank"

                .price-text.light
                  - if !regalo.price_min.present?
                    %p
                      Precio:
                      = number_to_currency(regalo.price_max, precision: 0, separator: ".", unit: "$", format: "%u %n")
                  - else
                    %p
                      Precio:
                      = "#{number_to_currency(regalo.price_min, precision: 0, separator: ".", unit: "$", format: "%u %n")} - #{number_to_currency(regalo.price_max, precision: 0, separator: ".", unit: "$", format: "%u %n")}"


                -if regalo.state == 1
                  -if regalo.user_id.present?
                    - user = User.find(regalo.user_id)
                    .chip.truncate.pd-top
                      = image_tag user.img_contact.thumb.url
                      = user.name
                -else
                  .chip.green.darken-1.pd-top
                    .white-text
                      Disponible

                .pd-top-2
                  = link_to 'Regalar!', {:controller => "users/registrations",:action => 'new', :id_regalo => regalo.id}, {:class => 'btn waves-effect waves-light teal', :method => 'get', remote: true, form: { "data-type" => "script" }}